* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#dropdown {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#animal-btn {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 3rem;
}