/* Main CSS */
* {
    box-sizing: border-box;
  }

.main-nav {
  background-color: #343A40;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  padding-left: 30px;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

/* Other CSS */
q {
  font-style: italic;
}

/* About Me CSS */
@media only screen and (max-width: 600px) {
  /* Centers and makes the photo 50% of the page if the device is 600px wide or less */
  .img-mobile-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.blog-post {
  border-radius: 1px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 5px;
}

.blog-post-info h3{
  margin: 0px;
  margin-bottom: 5px;
}

.blog-post-info h4{
  margin: 0px;
}

.blog-image {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  /* Centers and makes the photo 50% of the page if the device is 600px wide or less */
  .blog-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* Leveling Up & Learning */
.learning {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: 1fr 4fr;
}

@media only screen and (max-width: 1000px) {
  .learning {
    grid-template-columns: 1fr 1.5fr;
  }
}

.learning-photo>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.learning-description {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}